<div class="container">
  <p-menubar [model]="items" class="p-mt-o">
    <ng-template pTemplate="start">
        <img src="assets/showcase/images/primeng.svg" height="40" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template>
  </p-menubar>
</div>
